USE [master]
GO
/****** Object:  Database [Random]    Script Date: 2019/10/04 15:13:53 ******/
CREATE DATABASE [Random]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Random', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Random.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Random_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Random_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Random].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Random]
GO
/****** Object:  Table [dbo].[ADMINISTRATOR]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMINISTRATOR](
	[AdministratorID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Emailaddress] [varchar](50) NOT NULL,
	[DateEmployed] [datetime] NOT NULL,
	[Active] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ADMINISTRATOR] PRIMARY KEY CLUSTERED 
(
	[AdministratorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CITY](
	[CityID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[CityName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[CountryID] [int] NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DepartmentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[DepartmentName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GRADE](
	[GradeID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[GradeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INSTITUITION]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSTITUITION](
	[InstituitionID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[InstituitionName] [varchar](50) NULL,
 CONSTRAINT [PK_INSTITUITION] PRIMARY KEY CLUSTERED 
(
	[InstituitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LEVEL](
	[LevelID] [int] NOT NULL,
	[LevelName] [varchar](50) NOT NULL,
	[LevelMode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGION]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGION](
	[RegionID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[RegionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_REGION] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENT](
	[StudentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENTSUBJECT]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENTSUBJECT](
	[SubjectID] [int] NOT NULL,
	[SubjectName] [varchar](50) NOT NULL,
	[SubjectDescription] [varchar](50) NOT NULL,
	[GradeID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENTSUBJECT] PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUBJECTFACT]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUBJECTFACT](
	[SubjectFactID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[SubjectFactDescription] [varchar](50) NOT NULL,
	[HistoryFact] [varchar](50) NOT NULL,
	[GeneralFact] [varchar](50) NULL,
 CONSTRAINT [PK_SubjectFact] PRIMARY KEY CLUSTERED 
(
	[SubjectFactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TEST]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEST](
	[TestID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[DateStarted] [datetime] NOT NULL,
	[DateCompleted] [datetime] NOT NULL,
 CONSTRAINT [PK_TEST] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TestStudent]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestStudent](
	[ID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[Mark] [decimal](18, 0) NOT NULL,
	[DateCompleted] [datetime] NOT NULL,
 CONSTRAINT [PK_TestStudent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THEME]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THEME](
	[ThemeID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[ThemeMode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_THEME] PRIMARY KEY CLUSTERED 
(
	[ThemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 2019/10/04 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[UserID] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ADMINISTRATOR]  WITH CHECK ADD  CONSTRAINT [FK_ADMINISTRATOR_USER] FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[ADMINISTRATOR] CHECK CONSTRAINT [FK_ADMINISTRATOR_USER]
GO
ALTER TABLE [dbo].[CITY]  WITH CHECK ADD  CONSTRAINT [FK_CITY_REGION] FOREIGN KEY([RegionID])
REFERENCES [dbo].[REGION] ([RegionID])
GO
ALTER TABLE [dbo].[CITY] CHECK CONSTRAINT [FK_CITY_REGION]
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENT_STUDENTSUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[STUDENTSUBJECT] ([SubjectID])
GO
ALTER TABLE [dbo].[DEPARTMENT] CHECK CONSTRAINT [FK_DEPARTMENT_STUDENTSUBJECT]
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_LEVEL] FOREIGN KEY([LevelID])
REFERENCES [dbo].[LEVEL] ([LevelID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_LEVEL]
GO
ALTER TABLE [dbo].[INSTITUITION]  WITH CHECK ADD  CONSTRAINT [FK_INSTITUITION_CITY] FOREIGN KEY([CityID])
REFERENCES [dbo].[CITY] ([CityID])
GO
ALTER TABLE [dbo].[INSTITUITION] CHECK CONSTRAINT [FK_INSTITUITION_CITY]
GO
ALTER TABLE [dbo].[REGION]  WITH CHECK ADD  CONSTRAINT [FK_REGION_COUNTRY] FOREIGN KEY([CountryID])
REFERENCES [dbo].[COUNTRY] ([CountryID])
GO
ALTER TABLE [dbo].[REGION] CHECK CONSTRAINT [FK_REGION_COUNTRY]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COUNTRY] FOREIGN KEY([CountryID])
REFERENCES [dbo].[COUNTRY] ([CountryID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_COUNTRY]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_USER] FOREIGN KEY([UserID])
REFERENCES [dbo].[USER] ([UserID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_USER]
GO
ALTER TABLE [dbo].[STUDENTSUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTSUBJECT_GRADE] FOREIGN KEY([GradeID])
REFERENCES [dbo].[GRADE] ([GradeID])
GO
ALTER TABLE [dbo].[STUDENTSUBJECT] CHECK CONSTRAINT [FK_STUDENTSUBJECT_GRADE]
GO
ALTER TABLE [dbo].[SUBJECTFACT]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTFACT_STUDENTSUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[STUDENTSUBJECT] ([SubjectID])
GO
ALTER TABLE [dbo].[SUBJECTFACT] CHECK CONSTRAINT [FK_SUBJECTFACT_STUDENTSUBJECT]
GO
ALTER TABLE [dbo].[TEST]  WITH CHECK ADD  CONSTRAINT [FK_TEST_STUDENTSUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[STUDENTSUBJECT] ([SubjectID])
GO
ALTER TABLE [dbo].[TEST] CHECK CONSTRAINT [FK_TEST_STUDENTSUBJECT]
GO
ALTER TABLE [dbo].[TestStudent]  WITH CHECK ADD  CONSTRAINT [FK_TestStudent_STUDENT] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENT] ([StudentID])
GO
ALTER TABLE [dbo].[TestStudent] CHECK CONSTRAINT [FK_TestStudent_STUDENT]
GO
ALTER TABLE [dbo].[TestStudent]  WITH CHECK ADD  CONSTRAINT [FK_TestStudent_TEST] FOREIGN KEY([TestID])
REFERENCES [dbo].[TEST] ([TestID])
GO
ALTER TABLE [dbo].[TestStudent] CHECK CONSTRAINT [FK_TestStudent_TEST]
GO
ALTER TABLE [dbo].[THEME]  WITH CHECK ADD  CONSTRAINT [FK_THEME_STUDENT] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENT] ([StudentID])
GO
ALTER TABLE [dbo].[THEME] CHECK CONSTRAINT [FK_THEME_STUDENT]
GO
USE [master]
GO
