@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RANDO_</h1>
    <p class="lead">RANDO_ is a web application that helps y</p>

</div>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <h2>LOGIN</h2>

            <input type="text" name="Username" placeholder="Username" />
            <input type="password" name="Password" placeholder="Password" />

            <input type="submit" value="Login" />

            <input type="button" value="Forgot Password" />

            <br />

            <label for="NewMmeber"> Are you new here and want to Sign-Up?</label>
            <input type="submit" value="Sign-Up" name="NewMember" id="NewMember">

        }


    </div>
</div>